.container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #EEE;
  height: 10vh;
  width: 100vw;
  z-index: 9;
  box-shadow: 2px 10px 8px #888888;
}

.toolbar-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #8B0000;
  font-size: 48;
  margin-left: 4em;
}

.link {
  text-decoration: none;
  display: flex;
  width: 100vw;
  padding: 0 0 0 10em;
  border: 1px solid #CCC;
}

.title {
  font-size: 48;
  font-family: Arial, Helvetica, sans-serif;
  color: #8B0000;
}

.image {
  padding: 1em 0 0 1em;
  width: 100%;
  height: 100%;
  max-width: 8vh;
  max-height: 8vh;
}
